@media only screen and (max-width: 991px)
{

    div{
        border: none 1px greenyellow;
    }
    
    h1{
        text-align: center;
    }

    .SmallSpacer{
        margin-top: 1.5rem;
    }

    .FooterCenter{
        margin-left: 0.8rem;
        margin-right: 0.8rem;
        text-align: center;
    }

    .FooterR{
        text-align: center;
    }

    .TextCitsR{
        text-align: start;
    }
    p {
        line-height:2em;
      }

}


@media only screen and (max-width: 1199px)
{
    div{
        border: solid 1px rgb(0, 247, 255);
    }

}