@media only screen and (max-width: 991px)
{
    
    h1{
        text-align: center;
    }

    .SmallSpacer{
        margin-top: 1.5rem;
    }

    .FooterCenter{
        margin-left: 0.8rem;
        margin-right: 0.8rem;
        text-align: center;
    }

    .FooterR{
        text-align: center;
    }

    .TextCitsR{
        text-align: center;
    }
    p {
        line-height:2em;
      }

    .SpacerOnMin{
        margin-top: 6.5rem;
    }

    .CenterMin{
        text-align:center;
    }

    .hidden {
        display: none;
      }

    .LineHeight{
        line-height:0em;
      }
    
}


@media only screen and (max-width: 1199px)
{
    div{
        border: none 1px rgb(0, 247, 255);
    }


    .SpacerOnMin{
        margin-top: 6.5rem;
    }


    .NameS{
        width: 18rem;
    }
}

@media only screen and (max-width: 1399px)
{
    div{
        border: none 1px rgb(255, 187, 0);
    
    }


}


@media only screen and (max-width: 1200px)
{
    div{
        border: none 1px rgb(255, 0, 200);
    
    }
/*
    .Box{
        border: none black 1px;
        margin-left: 20px;
        margin-right: 20px;
    }
*/
}



@media only screen and (max-width: 767px)
{
    div{
        border: none 1px rgb(187, 255, 0);
    
    }
    .relative{
        position: absolute;
        margin-left: 7vw;
        margin-top: 4rem;
    }


    .MediSpacerOnMin{
        margin-top: 6.5rem;
    }

    .hidden {
        display: none;
      }


      .Tbreak {
        inline-size: 250px;
        overflow-wrap: break-word;
  }

  .AnswerRow
{
    border-bottom: 2px solid #bdbdbd;
    margin-left: 0.1rem;
    margin-right: 0.1rem;
}

}



@media only screen and (max-width: 500px)
{
/*
    .IMGCenter{
        text-align: center;
    }
    */
}

